<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="conference">
      <h2 data-cy="conferenceDetailsHeading"><span>Conference</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ conference.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ conference.name }}</span>
        </dd>
        <dt><span>Participants</span></dt>
        <dd>
          <span>{{ conference.participants }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ conference.date | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/conference', conference.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
